<div class="container">
  <h1>Eywa Assignment</h1>
  <form [formGroup]="sampleLoginForm" (ngSubmit)="submitForm()">
    <div>
      <label>Username:</label>
      <input formControlName="username" />
      <div *ngIf="this.sampleLoginForm.get('username')?.invalid && (this.sampleLoginForm.get('username')?.dirty || this.sampleLoginForm.get('username')?.touched)">
        <div class="errorclass" *ngIf="this.sampleLoginForm.get('username')?.errors?.['required']">Username is required.</div>
        <div class="errorclass" *ngIf="this.sampleLoginForm.get('username')?.errors?.['minlength']">
          Username must be at least 3 characters long.
        </div>
      </div>
    </div>

    <div>
      <label>Email:</label>
      <input formControlName="email" />
      <div *ngIf="this.sampleLoginForm.get('email')?.invalid && (this.sampleLoginForm.get('email')?.dirty || this.sampleLoginForm.get('email')?.touched)">
        <div class="errorclass" *ngIf="this.sampleLoginForm.get('email')?.errors?.['required']">Email is required.</div>
        <div class="errorclass" *ngIf="this.sampleLoginForm.get('email')?.errors?.['email']">Invalid email address.</div>
      </div>
    </div>

    <div>
      <label>Password:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="this.sampleLoginForm.get('username')?.invalid && (this.sampleLoginForm.get('username')?.dirty || this.sampleLoginForm.get('username')?.touched)">
        <div class="errorclass" *ngIf="this.sampleLoginForm.get('username')?.errors?.['required']">Password is required.</div>
        <div class="errorclass" *ngIf="this.sampleLoginForm.get('username')?.errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>
      </div>
    </div>

    <button class="submit-btn" type="submit">
      Register
    </button>
    <button type="button" class="clear-btn" (click)="clear()">Clear</button>
  </form>
</div>
